<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@300&display=swap"
    rel="stylesheet"
  />
      
</head>
<h5 class="top-header">
  Hitelező Kft. <span>indít végrehajtást</span> Adós Zrt.
  <span>adóssal szemben</span>
</h5>
<div class="progress-div">
  <div class="step-bar">
    <div class="step"></div>
  </div>
  <svg
    width="347"
    height="142"
    viewBox="0 0 347 142"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_1986_2988)">
      <path
        d="M98.5431 40C81.3934 40 67.4424 53.951 67.4424 71.0884C67.4424 88.2258 81.3934 102.189 98.5431 102.189C105.715 102.189 112.31 99.7286 117.575 95.6319V100.454H129.631V71.1007C129.631 53.9387 115.693 40 98.5431 40ZM98.5431 90.1204C88.0491 90.1204 79.5111 81.5824 79.5111 71.0884C79.5111 60.5944 88.0491 52.0564 98.5431 52.0564C109.037 52.0564 117.575 60.5944 117.575 71.0884C117.575 81.5824 109.037 90.1204 98.5431 90.1204Z"
        fill="black"
      />
      <path
        d="M31.0884 40.0122C13.9387 40.0122 0 53.9632 0 71.1006V142H12.0564V95.6318C17.3219 99.7285 23.9161 102.189 31.0884 102.189C48.2381 102.189 62.1891 88.238 62.1891 71.0883C62.1891 53.9386 48.2381 40.0122 31.0884 40.0122ZM31.0884 90.1326C20.5944 90.1326 12.0564 81.5946 12.0564 71.1006C12.0564 60.6066 20.5944 52.0686 31.0884 52.0686C41.5824 52.0686 50.1204 60.6066 50.1204 71.1006C50.1327 81.5946 41.5947 90.1326 31.0884 90.1326Z"
        fill="black"
      />
      <path
        d="M130.32 142H143.558L188.905 41.71H175.68L158.604 79.6263L140.224 41.71H126.826L151.948 94.4015L130.32 142Z"
        fill="black"
      />
      <path
        d="M219.218 90.1327C209.573 90.1327 201.576 82.9111 200.346 73.5981L248.646 73.7088C248.719 72.3187 248.756 70.0796 248.375 67.3731C248.19 66.069 245.521 49.313 231.238 42.6081C229.712 41.8946 225.148 40 219.218 40C202.068 40 188.13 53.951 188.13 71.0884C188.13 88.2258 202.081 102.189 219.218 102.189C231.742 102.189 242.986 94.7338 247.871 83.1941H233.92C230.352 87.5245 225.013 90.1327 219.218 90.1327ZM219.218 52.0687C225.96 52.0687 231.41 55.6488 234.313 61.6155L202.757 61.5417C206.067 55.8825 212.206 52.0687 219.218 52.0687Z"
        fill="black"
      />
      <path
        d="M284.458 90.1327C274.813 90.1327 266.817 82.9111 265.586 73.5981L313.886 73.7088C313.96 72.3187 313.997 70.0796 313.615 67.3731C313.431 66.069 310.761 49.313 296.478 42.6081C294.952 41.8946 290.388 40 284.458 40C267.309 40 253.37 53.951 253.37 71.0884C253.37 88.2258 267.321 102.189 284.458 102.189C296.982 102.189 308.227 94.7338 313.111 83.1941H299.16C295.592 87.5245 290.24 90.1327 284.458 90.1327ZM284.458 52.0687C291.2 52.0687 296.65 55.6488 299.553 61.6155L267.998 61.5417C271.307 55.8825 277.446 52.0687 284.458 52.0687Z"
        fill="black"
      />
      <path
        d="M334.369 102.201C340.912 102.201 346.217 96.8972 346.217 90.3541C346.217 83.8111 340.912 78.5068 334.369 78.5068C327.826 78.5068 322.522 83.8111 322.522 90.3541C322.522 96.8972 327.826 102.201 334.369 102.201Z"
        fill="#455BED"
      />
    </g>
    <defs>
      <clipPath id="clip0_1986_2988">
        <rect width="346.22" height="141.79" fill="white" />
      </clipPath>
    </defs>
  </svg>
  <div class="progress">
    <p class="progress-bar-text">Adós</p>
    <p class="progress-bar-text">Összegzés</p>
    <p class="progress-bar-text" style="color: #1089ff; font-weight: 700">
      Fizetés
    </p>
  </div>
  <div class="safe-connection-div">
    <img
      src="../assets/lock.png"
      style="height: 18px; margin-right: 8px"
      alt=""
    />
    <p class="safe-connection">Biztonságos kapcsolat</p>
    <div class="divider"></div>
    <span class="x">&#10005;</span>
  </div>
</div>
<div class="main-div">
  <div class="payment-options">
    <span class="arrow">&#8592;</span>
    <p class="back">Vissza</p>
    <div class="frame">
      <div style="display: flex">
        <span style="margin-top: 14px; margin-right: 10px; color: #6d6b6b"
          >&#8592;</span
        >
        <p
          style="
            color: #6d6b6b;
            font-size: 16px;
            margin-bottom: 37px;
            font-weight: 400;
          "
        >
          Vissza az Áttekintésre
        </p>
      </div>
      <h1 style="font-size: 28px; color: #000000; font-weight: 900">
        Válassz fizetési módot;
      </h1>
      <p style="color: #6d6b6b; margin-top: 25px; margin-bottom: 25px; font-size: 16; font-weight: 400;" >
        Fizetési módok:
      </p>
      <div class="options">
        <div class="option1">
          <input type="radio" />
          <div class="opt">
            <h4 style="color: #1089ff; margin: 3px;">Bankkártyával fizetek</h4>
            <p style="margin: 3px; color: #6d6b6b; font-size: 14px;" >Biztonságos és gyors</p>
          </div>
          <p class="recommended">AJÁNLOTT</p>
          <div class="cards">
            <img src="../assets/barion-logo.png" alt="" />
            <img src="../assets/visa-logo.png" alt="" />
            <img src="../assets/visa-electron-logo.png" alt="" />
            <img src="../assets/mastercard-logo.png" alt="" />
            <img src="../assets/maestro-logo.png" alt="" />
            <img src="../assets/amex-logo.png" alt="" />
          </div>
        </div>
        <div class="option2">
          <input type="radio" />
          <div class="opt">
            <h4 style="margin: 3px; color: #000000; font-size: 14px;font-weight: 600;">Átutalással fizetek</h4>
            <p style="margin: 3px; color: #6d6b6b; font-size: 14px;">48 óra átfutási idő</p>
          </div>
        </div>
      </div>
      <button style="color: #ffffff; font-size: 16px; font-weight: 700">
        39 737 HUF fizetése most
      </button>
      <p style="font-size: 14px; text-align: center; color: #b4b4b4">
        A fizetést a
        <span style="text-decoration: underline">Legal Labs Kft.</span> fogadja
        és dolgozza fel biztonságosan. A tranzakcióról ÁFÁ-s elektronikus
        számlát küldünk a fizetésed után emailben.
      </p>
    </div>
  </div>
  <div class="receipt-container">
    <div class="receipt">
      <div class="upper-div">
        <div
          style="
            height: 100px;
            width: 100px;
            background-color: white;
            border-radius: 10px;
            border: 1px solid #ededf6;
            display: flex;
            justify-content: center;
          "
        >
          <img src="../assets/travel-dynamic-color (1).png" />
        </div>
        <div style="width: 350px; margin-left: 16px">
          <h3 style="font-size: 16px">Jogi behajtás</h3>
          <p class="information">Hitelező: Teszt Kft.</p>
          <p class="information">Adós: Kiss Adós Bt.</p>
          <p class="information">Jogviszony: Vállalkozási szerződés</p>
        </div>
      </div>
      <div class="medium-div">
        <div style="display: flex; flex-direction: row">
          <p class="information" style="color: #6D6B6B; font-size: 14px;">Payee szolgáltatási díj</p>
          <p class="information" style="margin-left: 89px; color: #b4b4b4">
            (24 990 HUF + ÁFA)
          </p>
          <h3 style="color: #000000; font-weight: 400">31 737 HUF</h3>
        </div>
        <div style="display: flex; flex-direction: row">
          <p class="information" style="color: #6D6B6B; font-size: 14px;">Közjegyzői eljárási díj (1%)</p>
          <p class="information" style="margin-left: 94px; color: #b4b4b4">
            (MIN. 8000 HUF)
          </p>
          <h3 style="color: #000000; font-weight: 400">8000 HUF</h3>
        </div>
      </div>
      <div class="bottom-div">
        <h3 style="color: #000000; font-weight: 700; font-size: 16px;">Fizetendő végösszeg</h3>
        <p
          class="information"
          style="margin-left: 142px; color: #b4b4b4; font-weight: 400"
        >
          BRUTTÓ
        </p>
        <h3
          style="
            color: #000000;
            font-size: 16;
            font-weight: 700;
            margin-top: 3px;
          "
        >
          39 737 HUF
        </h3>
      </div>
    </div>
  </div>
</div>
